@charset "UTF-8";

.Flamengo{
    color:red;
}

.Palmeiras{
    color:green;
}

.Corinthians{
    color:black;
}

.Grêmio{
    color:blue;
}

.Botafogo{
    color:black;
}

.Fluminense{
    color:darkred;
}