@charset "UTF-8";

* {
    font-family:Arial, Helvetica, sans-serif;
     /*height: 100%; */
}

body{
    background-image:linear-gradient(to right,#6EF507, #497527);
}

main{
    background-color:white;
    border-radius: 10px;
    box-shadow: 5px 5px 3px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color:yellow;
    text-align:center;
    text-shadow: 1 px 1 px 0 px black;
}

h2{
    color:yellow;
}

p{
    text-align:justify;
}

